<!-- <app-basicelements></app-basicelements>
<app-navigation></app-navigation> -->

<div class="section section-tabs">
  <div class="container">
      <div class="row">
          <div class="col-md-10 ml-auto col-xl-6 mr-auto">
              <p class="category">Tabs with Icons on Card</p>
              <!-- Nav tabs -->

              <div class="card">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'" class="text-center">
                            <ngb-tab>
                              <ng-template ngbTabTitle>
                                <i class="now-ui-icons objects_umbrella-13"></i> Home
                              </ng-template>
                                <ng-template ngbTabContent>
                                  <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                              <ng-template ngbTabTitle>
                                <i class="now-ui-icons shopping_cart-simple"></i> Profile
                              </ng-template>
                                <ng-template ngbTabContent>
                                    <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                              <ng-template ngbTabTitle>
                                  <i class="now-ui-icons shopping_shop"></i> Messages
                              </ng-template>
                                <ng-template ngbTabContent>
                                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                              <ng-template ngbTabTitle>
                                <i class="now-ui-icons ui-2_settings-90"></i> Settings
                              </ng-template>
                                <ng-template ngbTabContent>
                                  <p>
                                      "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                  </p>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-md-10 ml-auto col-xl-6 mr-auto">
              <p class="category">Tabs with Background on Card</p>
              <!-- Tabs with Background on Card -->
              <div class="card">
                <div class="nav-tabs-navigation" data-tabs-color="orange">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'" class="text-center" >
                            <ngb-tab title="Home">
                              <ng-template ngbTabContent>
                                <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Profile">
                              <ng-template ngbTabContent>
                                  <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Messages">
                              <ng-template ngbTabContent>
                                  <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Settings">
                                <ng-template ngbTabContent>
                                  <p>
                                      "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                  </p>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
              </div>
              <!-- End Tabs on plain Card -->
          </div>
      </div>
  </div>
</div>

<h3 class="title">Angular Native Components</h3>
<div class="row" id="modals">
    <div class="col-md-6">
        <h4>Modal</h4>
        <!-- <ngbd-modal-component></ngbd-modal-component> -->
    </div>
    <div class="col-md-6">
        <h4>Popovers</h4>
        <button type="button" class="btn btn-default" placement="right"
            ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on right" popoverClass="popover-primary">
            On right
        </button>

        <button type="button" class="btn btn-default" placement="top"
            ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on top">
            On top
        </button>

        <button type="button" class="btn btn-default" placement="left"
            ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on left">
            On left
        </button>

        <button type="button" class="btn btn-default" placement="bottom"
            ngbPopover="Here will be some very useful information about this popover." popoverTitle="Popover on bottom">
            On bottom
        </button>
    </div>
    <br />
    <br />
    <div class="col-md-6">
        <!-- <h4>Datetimepicker</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="datepicker-container">
                    <div class="form-group">
                      <input class="form-control datetimepicker" placeholder="06/07/2017"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" data-color="orange">
                    </div>
                </div>
            </div>
        </div> -->
        <!--                 end collapse -->
    </div>
    <div class="col-md-6">
        <h4>Tooltips</h4>
        <button type="button" class="btn btn-default btn-tooltip" placement="right" ngbTooltip="Tooltip on right">
           On right
       </button>
       <button type="button" class="btn btn-default btn-tooltip" placement="left" ngbTooltip="Tooltip on left">
         On left
       </button>
        <button type="button" class="btn btn-default btn-tooltip" placement="top" ngbTooltip="Tooltip on top">
           On top
        </button>
        <button type="button" class="btn btn-default btn-tooltip" placement="bottom" ngbTooltip="Tooltip on bottom">
            On bottom
        </button>
        <div class="clearfix"></div>
        <br>
        <br>
    </div>
<!-- </div>
</div> -->
</div>
