  <div class="wrapper" style="position: relative; background-color: black; z-index: -2;">
    <!-- <img src="'assets/img/RangerLogo/成員介紹/Rectangle 17.png'" alt="" class="expertiseBorder" style="margin-bottom: 11vh;" id = "img1"> -->
      <div class="page-header page-header-small" id = "teamHeader" style="background-color: #9c9c9c; z-index: -1; margin: -20px 40px 0px 40px;">
          <div class="page-header-image rellax-header" data-rellax-speed="0" style="background-image: url('assets/img/RangerLogo/成員介紹/Rectangle 17.png'); margin-top: 20px;" id = "teamHeaderImg">        
          </div>
          <div class="container">
              <div class="content-center">
                  <div class="container-fluid">
                      <div class="col-md-12 ml-auto mr-auto">
                          <h6 style="letter-spacing: 9px;line-height: 45px; text-align: left; position: absolute;" id = "teamHeaderText">Ranger是一個充滿熱情的清創團隊，從網頁的UI/UX設計，到網站系統開發，我們都擁有一流的青年人才，我們有自信能提供您專業也最好的網站開發設計服務。</h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="section" style="background-color: grey; margin: 0px 40px 0px 40px;">
          <div class="container-fluid team-contain">
            <div class="button-container"> 
              <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg" style="margin-bottom: 11vh;" id = "img1">
                        </div>
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg" style="margin-bottom: 11vh;">
                        </div>
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg" style="margin-bottom: 11vh;">
                          <!-- <div style="width: 242px; height: 242px; background-color: blue;"></div> -->
                        </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg" style="margin-bottom: 11vh;">
                        </div>
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg" style="margin-bottom: 11vh;">
                        </div>
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg" style="margin-bottom: 11vh;">
                        </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg" style="margin-bottom: 11vh;">
                        </div>
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg" style="margin-bottom: 11vh;">
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class = "bottom">
        <div class="page-header page-header-small" style="margin: 0px 40px 0px 40px;">
          <div class="page-header-image" data-background-color="black">        
          </div>
          <div class="container">
            <div class="content-center">
                <div class="container-fluid">
                  <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8 contact-text">
                      <h4 style="color: rgb(167, 139, 81);">CONTACT US</h4>
                    </div>
                    <div class="text-center col-sm-12 col-md-12 col-lg-8 contact-icon">
                      <a
                        target="_blank"
                        href="https://www.twitter.com/creativetim"
                        rel="tooltip"
                        title="Follow us"
                        class="contact-icon-line"
                        >
                        <img src="../../../assets/img/RangerLogo/首頁/line 1.png">
                      </a>
                      <a
                        target="_blank"
                        href="https://www.facebook.com/creativetim"
                        rel="tooltip"
                        title="Like us"
                        class="contact-icon-facebook"
                        >
                        <img src="../../../assets/img/RangerLogo/首頁/facebook 1.png">
                      </a>
                      <a
                        target="_blank"
                        href="https://www.linkedin.com/company-beta/9430489/"
                        rel="tooltip"
                        title="Follow us"
                        >
                        <img src="../../../assets/img/RangerLogo/首頁/instagram 1.png">
                      </a>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                      <a
                      target="_blank"
                      href="https://www.linkedin.com/company-beta/9430489/"
                      rel="tooltip"
                      title="Follow us"
                      >
                      <img src="../../../assets/img/RangerLogo/成員介紹/Group 12.png">
                    </a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="main">
        <div
          data-background-color="black"
        >
          <div class="container">
            <div class="row justify-content-md-center sharing-area text-center">
              <div class="text-center col-md-12 col-lg-8">
                <h4 style="margin-top: 150px; margin-bottom: -90px; color: rgb(167, 139, 81);">CONTACT US</h4>
              </div>
              <div class="text-center col-md-12 col-lg-8">
                <a
                  target="_blank"
                  href="https://www.twitter.com/creativetim"
                  rel="tooltip"
                  title="Follow us"
                  style="margin-right:80px"
                  >
                  <img src="../../../assets/img/RangerLogo/首頁/line 1.png">
                </a>
                <a
                  target="_blank"
                  href="https://www.facebook.com/creativetim"
                  rel="tooltip"
                  title="Like us"
                  style="margin-right:80px"
                  >
                  <img src="../../../assets/img/RangerLogo/首頁/facebook 1.png">
                </a>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/company-beta/9430489/"
                  rel="tooltip"
                  title="Follow us"
                  >
                  <img src="../../../assets/img/RangerLogo/首頁/instagram 1.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <footer class="footer" data-background-color="realblack">
        <div class="container">
          <div class="copyright" style="text-align: center;">
            &copy;
            版權所有
            {{ data | date: "yyyy" }} Ranger網頁設計，保留所有權力。
            <!-- <a href="https://www.invisionapp.com" target="_blank">Invision</a>.
            Coded by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>. -->
          </div>
        </div>
      </footer>
  </div>