  <div class="wrapper">
      <div class="page-header page-header-small" id = "teamHeader">
          <div class="page-header-image rellax-header" data-rellax-speed="0" id = "teamHeaderImg">        
          </div>
          <div class="container">
              <div class="content-center">
                  <div class="container-fluid">
                      <div class="col-md-12 ml-auto mr-auto">
                          <h6 id = "teamHeaderText">Ranger是一個充滿熱情的清創團隊，從網頁的UI/UX設計，到網站系統開發，我們都擁有一流的青年人才，我們有自信能提供您專業也最好的網站開發設計服務。</h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="section">
          <div class="container-fluid team-contain">
            <div class="button-container"> 
              <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg">
                        </div>
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg">
                        </div>
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg">
                        </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg">
                        </div>
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg">
                        </div>
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg">
                        </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg">
                        </div>
                        <div class="col-md-4">
                          <img src="../../../assets/img/RangerLogo/成員介紹/Group 11.png" alt="" class="expertiseBorder expertiseBorderImg">
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class = "bottom">
        <div class="page-header page-header-small">
          <div class="page-header-image" data-background-color="black">        
          </div>
          <div class="container">
            <div class="content-center">
                <div class="container-fluid">
                  <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8 contact-text">
                      <h4>CONTACT US</h4>
                    </div>
                    <div class="text-center col-sm-12 col-md-12 col-lg-8 contact-icon">
                      <a
                        target="_blank"
                        href="https://www.twitter.com/creativetim"
                        rel="tooltip"
                        title="Follow us"
                        class="contact-icon-line"
                        >
                        <img src="../../../assets/img/RangerLogo/首頁/line 1.png">
                      </a>
                      <a
                        target="_blank"
                        href="https://www.facebook.com/creativetim"
                        rel="tooltip"
                        title="Like us"
                        class="contact-icon-facebook"
                        >
                        <img src="../../../assets/img/RangerLogo/首頁/facebook 1.png">
                      </a>
                      <a
                        target="_blank"
                        href="https://www.linkedin.com/company-beta/9430489/"
                        rel="tooltip"
                        title="Follow us"
                        >
                        <img src="../../../assets/img/RangerLogo/首頁/instagram 1.png">
                      </a>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                      <a
                      target="_blank"
                      href="https://www.linkedin.com/company-beta/9430489/"
                      rel="tooltip"
                      title="Follow us"
                      >
                      <img src="../../../assets/img/RangerLogo/成員介紹/Group 12.png">
                    </a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="main">
        <div
          data-background-color="black"
        >
          <div class="container">
            <div class="row justify-content-md-center sharing-area text-center">
              <div class="text-center col-md-12 col-lg-8">
                <h4 style="margin-top: 150px; margin-bottom: -90px; color: rgb(167, 139, 81);">CONTACT US</h4>
              </div>
              <div class="text-center col-md-12 col-lg-8">
                <a
                  target="_blank"
                  href="https://www.twitter.com/creativetim"
                  rel="tooltip"
                  title="Follow us"
                  style="margin-right:80px"
                  >
                  <img src="../../../assets/img/RangerLogo/首頁/line 1.png">
                </a>
                <a
                  target="_blank"
                  href="https://www.facebook.com/creativetim"
                  rel="tooltip"
                  title="Like us"
                  style="margin-right:80px"
                  >
                  <img src="../../../assets/img/RangerLogo/首頁/facebook 1.png">
                </a>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/company-beta/9430489/"
                  rel="tooltip"
                  title="Follow us"
                  >
                  <img src="../../../assets/img/RangerLogo/首頁/instagram 1.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <footer class="footer" data-background-color="realblack">
        <div class="container">
          <div class="copyright">
            &copy;
            版權所有
            {{ data | date: "yyyy" }} Ranger網頁設計，保留所有權力。
            <!-- <a href="https://www.invisionapp.com" target="_blank">Invision</a>.
            Coded by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>. -->
          </div>
        </div>
      </footer>
  </div>