<div class="wrapper">
  <div class="container-fluid" style="background-color: black; height: 70px;"></div>
  <div class="section" data-background-color="black-50-50-50">
      <div class="container-fluid worksSharing-contain">
        <div class="button-container"> 
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="row collections">
                <div class="col-md-6">
                  <a [routerLink]="['/examples/landing']" >
                    <img src="../../../assets/img/RangerLogo/作品分享/Rectangle 30.png" alt="Image" class="img-raised" (mouseenter)="toBig($event)" (mouseleave)="toLittle($event)">
                  </a>
                  <a [routerLink]="['/examples/profile']">
                    <img src="../../../assets/img/RangerLogo/作品分享/Rectangle 31.png" alt="Image" class="img-raised" (mouseenter)="toBig($event)" (mouseleave)="toLittle($event)">
                  </a>
                  <a [routerLink]="['/examples/profile']">
                    <img src="../../../assets/img/RangerLogo/作品分享/Rectangle 31.png" alt="Image" class="img-raised" (mouseenter)="toBig($event)" (mouseleave)="toLittle($event)">
                  </a>
                  <a [routerLink]="['/examples/profile']">
                    <img src="../../../assets/img/RangerLogo/作品分享/Rectangle 31.png" alt="Image" class="img-raised" (mouseenter)="toBig($event)" (mouseleave)="toLittle($event)">
                  </a>
                </div>
                <div class="col-md-6">
                  <a [routerLink]="['/examples/landing']" >
                    <img src="../../../assets/img/RangerLogo/作品分享/Rectangle 32.png" alt="Image" class="img-raised" (mouseenter)="toBig($event)" (mouseleave)="toLittle($event)">
                  </a>
                  <a [routerLink]="['/examples/landing']" >
                    <img src="../../../assets/img/RangerLogo/作品分享/Rectangle 33.png" alt="Image" class="img-raised" (mouseenter)="toBig($event)" (mouseleave)="toLittle($event)">
                  </a>
                  <a [routerLink]="['/examples/landing']" >
                    <img src="../../../assets/img/RangerLogo/作品分享/Rectangle 33.png" alt="Image" class="img-raised" (mouseenter)="toBig($event)" (mouseleave)="toLittle($event)">
                  </a>
                  <a [routerLink]="['/examples/landing']" >
                    <img src="../../../assets/img/RangerLogo/作品分享/Rectangle 33.png" alt="Image" class="img-raised" (mouseenter)="toBig($event)" (mouseleave)="toLittle($event)">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <footer class="footer" data-background-color="realblack">
    <div class="container">
      <div class="copyright">
        &copy;
        版權所有
        {{ data | date: "yyyy" }} Ranger網頁設計，保留所有權力。
        <!-- <a href="https://www.invisionapp.com" target="_blank">Invision</a>.
        Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>. -->
      </div>
    </div>
  </footer>
</div>