<div class="section section-examples" data-background-color="black" id="ourProjects">
    <div class="space-30"></div>
    <h2 class="title" style="text-align: center;">Our Projects</h2>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <a [routerLink]="['/examples/landing']" >
                    <img src="assets/img/landing.jpg" alt="Image" class="img-raised" (mouseenter)="toBig($event)" (mouseleave)="toLittle($event)">
                </a>
                <a [routerLink]="['/examples/landing']" class="btn btn-simple btn-primary btn-round">View Landing Page</a>
            </div>
            <div class="col">
                <a [routerLink]="['/examples/profile']">
                    <img src="assets/img/profile.jpg" alt="Image" class="img-raised"(mouseenter)="toBig($event)" (mouseleave)="toLittle($event)" >
                </a>
                <a [routerLink]="['/examples/profile']" class="btn btn-simple btn-primary btn-round">View Profile Page</a>
            </div>
        </div>
        <div class="row">
          <div class="col">
              <a [routerLink]="['/examples/landing']">
                  <img src="assets/img/landing.jpg" alt="Image" class="img-raised" (mouseenter)="toBig($event)" (mouseleave)="toLittle($event)">
              </a>
              <a [routerLink]="['/examples/landing']" class="btn btn-simple btn-primary btn-round">View Landing Page</a>
          </div>
          <div class="col">
              <a [routerLink]="['/examples/profile']">
                  <img src="assets/img/profile.jpg" alt="Image" class="img-raised"(mouseenter)="toBig($event)" (mouseleave)="toLittle($event)" >
              </a>
              <a [routerLink]="['/examples/profile']" class="btn btn-simple btn-primary btn-round">View Profile Page</a>
          </div>
      </div>
    </div>
</div>
