<div class="wrapper">
  <div class="section section-team text-center" data-background-color="dark">
    <div class="container">
      <div class="space-50"></div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <a>
            <img
              src="assets/img/RangerLogo/關於ranger/Rectangle 27.png"
              alt="Image"
              class="img-raised"
            />
          </a>
        </div>
        <div class="col-lg-1 col-md-12"></div>
        <div class="col-lg-5 col-md-12">
          <h2 class="title slogon landing-title-color">精神理念/Our Team</h2>
          <div class="space-30"></div>
          <p class="slogon">
            Ranger 譯為遊騎兵，遊騎兵具有使命必達且義無反顧之精神，
            象徵我們團隊能提供您不只是滿意而是經驗的網站設計。
          </p>
          <div class="space-10"></div>
          <div class="space-30"></div>
          <p class="slogon">
            我們以潮流創意作為設計基礎，為您打造獨具特色的專屬網站，我們需要不僅僅是一個專屬網站，更是您滿意的微笑
          </p>
        </div>

        <div class="col-lg-12 col-md-12 text-center">
          <div class="space-10"></div>
        </div>
      </div>
      <div class="space-50"></div>
    </div>
  </div>

  <div class="section section-team text-center" data-background-color="black">
    <div class="landing-first-hr">
      <hr />
    </div>

    <div class="container">
      <!-- <h2 class="title">Here is our team</h2> -->
      <div class="space-30"></div>
      <div class="team">
        <div class="row">
          <div class="col-md-4">
            <div class="team-player">
              <h5 class="title slogen">網站視覺設計服務</h5>
              <div class="space-30"></div>
              <img
                src="assets/img/RangerLogo/關於ranger/web-design 1.png"
                alt="Image"
              />
              <div class="space-10"></div>
              <p class="slogen">
               我們以專業的UI/UX設計並結合RWD響應式網頁技術, 為您的網頁提供量身訂做的視覺設計服務, 使您的網頁獨具特色, 進而建立良好的品牌形象﹒
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <h5 class="title slogen">系統網站設計開發</h5>
              <div class="space-30"></div>
              <img
                src="assets/img/RangerLogo/關於ranger/seo 1.png"
                alt="Image"
              />
              <div class="space-10"></div>
              <p class="slogen">
以多元的技術替您打造屬於您專屬的個人/企業網站, 並提供專業的網站規劃及優化策略, 替您打造出兼具美觀與實用的網站。
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <h5 class="title slogen">app開發</h5>
              <div class="space-30"></div>
              <img
                src="assets/img/RangerLogo/關於ranger/mobile-app 1.png"
                alt="Image"
              />
              <div class="space-10"></div>
              <p class="slogen">
甄對現行IOS/Android 兩大作業系統, 從開發、測試到市場品牌形象, 我們為您提供一條龍的解決方案。
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="space-30"></div>
    </div>
    <div class="landing-second-hr">
      <hr />
    </div>
    <div class="container">
      <div class="space-30"></div>
      <div class="team">
        <div class="row">
          <div class="col-process">
            <div class="team-player-two">
              <div class="space-30"></div>
              <img
                src="assets/img/RangerLogo/關於ranger/Frame 16.png"
                alt="Image"
              />
              <div class="space-10"></div>
               <p class="slogen">
                需求訪談
              </p>
               <p class="slogen">
                Require
              </p>
            </div>
          </div>
          <div class="col-process">
            <div class="team-player-two">
              <div class="space-30"></div>
              <img
                src="assets/img/RangerLogo/關於ranger/Frame 17.png"
                alt="Image"
              />
              <div class="space-10"></div>
               <p class="slogen">
                介面設計
              </p>
               <p class="slogen">
                WireFrame
              </p>
            </div>
          </div>
          <div class="col-process">
            <div class="team-player-two">
              <div class="space-30"></div>
              <img
                src="assets/img/RangerLogo/關於ranger/Frame 18.png"
                alt="Image"
              />
              <div class="space-10"></div>
               <p class="slogen">
                程式製作
              </p>
               <p class="slogen">
                Program
              </p>
            </div>
          </div>
          <div class="col-process">
            <div class="team-player-two">
              <div class="space-30"></div>
              <img
                src="assets/img/RangerLogo/關於ranger/Frame 19.png"
                alt="Image"
              />
              <div class="space-10"></div>
               <p class="slogen">
                測試調整
              </p>
               <p class="slogen">
                Test
              </p>
            </div>
          </div>
          <div class="col-process">
            <div class="team-player">
              <div class="space-30"></div>
              <img
                src="assets/img/RangerLogo/關於ranger/Frame 20.png"
 
                alt="Image"
              />
              <div class="space-10"></div>
               <p class="slogen">
                完成上線
              </p>
               <p class="slogen">
                online
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="space-30"></div>
    </div>
  </div>
  <div
    class="section section-team text-center text-center"
    data-background-color="dark"
  >
    <div class="container">
      <div class="space-50"></div>

      <div class="text-center col-md-12">
        <h3 class="landing-title-color">CONTACT US</h3>
      </div>

      <div class="space-30"></div>

      <div class="text-center col-md-12">
        <a class="images-to-icoin">
          <img
            src="assets/img/RangerLogo/首頁/facebook 1.png"
            alt="Image"
            class="img-raised"
          />
        </a>
        <a class="images-to-icoin">
          <img
            src="assets/img/RangerLogo/首頁/instagram 1.png"
            alt="Image"
            class="img-raised"
          />
        </a>
        <a class="images-to-icoin">
          <img
            src="assets/img/RangerLogo/首頁/line 1.png"
            alt="Image"
            class="img-raised"
          />
        </a>
      </div>

      <div class="space-50"></div>
    </div>
  </div>
</div>
