@font-face {
    font-family: MyAzonix;
    src: local("Azonix"),
      url(../../wordStyle/azonix/Azonix.otf);
    font-weight: bold;
  };

#logo-container{
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
}

#content-center{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
}

.logo{
  position: absolute;
}

.slogon{
    font-family: 'MyAzonix';
}

#logo{
  z-index: 11; 
  
}

#logoText{
  z-index: 12; 
}