@font-face {
  font-family: MyAzonix;
  src: local("Azonix"), url(../../wordStyle/azonix/Azonix.otf);
}

.worksSharing-page {
  .wrapper {
    position: relative;
    background-color: black;
  }
  .page-header {
    &:before {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  #worksSharingHeaderText {
    letter-spacing: 9px;
    text-align: left;
    position: absolute;
  }
  .section {
    margin: 0px 40px 0px 40px;
  }
  .section img{
    margin-bottom: 30px;
  }
  .footer .copyright{
    text-align: center;
  }

  .worksSharing-contain {
    @media screen and (min-width: 280px) {
      .expertiseBorderImg {
        width: 250px;
      }
    }
    @media screen and (min-width: 320px) {
      .expertiseBorderImg {
        width: 290px;
      }
    }
    @media screen and (min-width: 375px) {
      .expertiseBorderImg {
        width: 345.2px;
      }
    }
    @media screen and (min-width: 414px) {
      .expertiseBorderImg {
        width: 384.4px;
      }
    }
    @media screen and (min-width: 540px) {
      .expertiseBorderImg {
        width: 410px;
      }
    }
    @media screen and (min-width: 768px) {
      .expertiseBorderImg {
        width: 183.325px;
      }
    }
    @media screen and (min-width: 1024px) {
      .expertiseBorderImg {
        width: 254.438px;
      }
    }
    @media screen and (min-width: 1500px) {
      .expertiseBorderImg {
        width: 380px;
      }
    }
  }
}
