@font-face {
  font-family: MyAzonix;
  src: local("Azonix"), url(../../wordStyle/azonix/Azonix.otf);
}

.worksSharing-page {
  .wrapper {
    position: relative;
    background-color: black;
    // z-index: -2;
  }
  .section {
    margin: 0px 40px 0px 40px;
  }
  .section img{
    margin-bottom: 30px;
  }
  .footer .copyright{
    text-align: center;
  }
}
